@font-face {
    font-family: 'press_start_2pregular';
    src: url('pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: aquamarine;
}

h1 {
    color: rgb(0,0,128);
    margin-left: -5px;
    font-family: 'press_start_2pregular';
}

h2 {
    margin: 20px 10px 20px 5px;
    border-radius: 10px;
    border-color: rgb(7, 76, 72);
    border-style: double;
    padding: 0.1cm 0.1cm 0.1cm 0.1cm;
}

h2:hover {
    color: cadetblue;
}

nav:active {
    background-color: yellow;
}

h3 {
    border-radius: 10px;
    border-color: blueviolet;
    border-style: solid;
    border-width: 1px;
    padding-top: 10px;
}

p {
    color: darkslategray;
}

.agenda-list {
    color: blueviolet;
    text-decoration: underline;
    text-align: right;
    position: relative;
    max-width: 50%;
}

img {
    height: 50%;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
}

span {
    display: block;
    width: 1em;
    padding-left: 5rem;
}

h5 {
    display: none;
}

.survey {
    display: grid;
}

@media (max-width: 50rem) {
    .agenda-list {
        background-color: red;
    }
}

.brainstorming {
    display: flex;
}

